extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    li: a(href='/admins/artists', title='Artistes')  	      Artistes
    li: a(href='/admins/videos', title='Videos')   		      Videos
    li: a(href='/admins/tracks', title='Tracks')   		      Tracks
    li: a(href='/admins/events', title='Events')   		      Events
    li: a(href='/admins/categorys', title='Categorys')   	  Categorys
    li: a(href='/admins/natures', title='')   		          Natures
    li: a(href='/admins/genres', title='Genres')   		      Genres
    li: a(href='/admins/eventTypes', title='Event Type')  	Event Type