
block content
  h1= title
  p Welcome to #{title} 
  p Le nombre total d'artist est :  #{artists.length} 
    for artist in artists
      p=artist.name
      p=artist.genreName
      p=artist.id
  br
  form(method='post', action='/admins/artists')
    input(type='number', name='id', placeholder='0')
    input(type='text', name='name', placeholder='artiste')
    input(type='text', name='picture', placeholder='url')
    input(type='text', name='genreName', placeholder='Genre Name')
    input(type='submit', value='ajouter')
    