
block content
  h1= title
  p Welcome to #{title}  
  p Le nombre total de category est :  #{categorys.length} 
    for category in categorys
      p=category.name
      p=category.id
  br
  form(method='post', action='/admins/categorys')
    input(type='number', name='id', placeholder='0')
    input(type='text', name='name', placeholder='category')
    input(type='submit', value='ajouter')
