
block content
  h1= title
  p Welcome to #{title}  
  p Le nombre total d'artist est :  #{events.length} 
    for event in events
      p=event.name
      p=event.id
      p=event.place
      p=event.date
      p=event.details
      p=event.eventTypeName
      p=event.artistName
      
  br
  form(method='post', action='/admins/events')
    input(type='number', name='id', placeholder='0')
    input(type='text', name='name', placeholder='event')
    input(type='text', name='place', placeholder='place')
    input(type='date', name='date', placeholder='date')
    input(type='text', name='details', placeholder='details')
    input(type='text', name='eventTypeName', placeholder='eventTypeName')
    input(type='text', name='artistName', placeholder='artistName')
    input(type='submit', value='ajouter')
