
block content
  h1= title
  p Welcome to #{title}  
  p Le nombre total d'artist est :  #{eventTypes.length} 
    for eventType in eventTypes
      p=eventType.name
      p=eventType.id
  br
  form(method='post', action='/admins/eventTypes')
    input(type='number', name='id', placeholder='0')
    input(type='text', name='name', placeholder='eventType')
    input(type='submit', value='ajouter')