
block content
  h1= title
  p Welcome to #{title}  
  p Le nombre total de genre est :  #{genres.length} 
    for genre in genres
      p=genre.name
      p=genre.id
  br
  form(method='post', action='/admins/genres')
    input(type='number', name='id', placeholder='0')
    input(type='text', name='name', placeholder='genre')
    input(type='submit', value='ajouter')