extends layout

block content
  h1= title
  p Welcome to #{title} 
  br
  form(method='post', action='/admins/login')
    input(type='text', name='username', placeholder='username')
    input(type='password', name='password', placeholder='password')
    input(type='submit', value='Login')