
block content
  h1= title
  p Welcome to #{title}  
  p Le nombre total de natures est :  #{natures.length} 
    for nature in natures
      p=nature.name
      p=nature.id
  br
  form(method='post', action='/admins/natures')
    input(type='number', name='id', placeholder='0')
    input(type='text', name='name', placeholder='nature')
    input(type='submit', value='ajouter')
