
block content
  h1= title
  p Welcome to #{title}  
  p Le nombre total d'artist est :  #{tracks.length} 
    for track in tracks
      p=track.name
      p=track.id
      p=track.duration
      p=track.track
      p=track.picture
      p=track.genreName
      p=track.artistName
  br
  form(method='post', action='/admins/tracks')
    input(type='number', name='id', placeholder='0')
    input(type='text', name='name', placeholder='track')
    input(type='text', name='duration', placeholder='duration')
    input(type='text', name='track', placeholder='url track')
    input(type='text', name='picture', placeholder='url picture')
    input(type='text', name='genreName', placeholder='genreName')
    input(type='text', name='artistName', placeholder='artistName')
    input(type='submit', value='ajouter')
