
block content
  h1= title
  p Welcome to #{title}  
  p Le nombre total de video est :  #{videos.length} 
    for video in videos
      p=video.name
      p=video.id
      p=video.releaseDate
      p=video.video
      p=video.picture
      p=video.natureName
      p=video.categoryName
      p=video.genreName
      p=video.artistName
    br
    form(method='post', action='/admins/videos')
      input(type='number', name='id', placeholder='0')
      input(type='text', name='name', placeholder='video name')
      input(type='date', name='releaseDate', placeholder='Release Date')
      input(type='text', name='video', placeholder='video url')
      input(type='text', name='picture', placeholder='picture url')
      input(type='text', name='natureName', placeholder='Nature Name')
      input(type='text', name='categoryName', placeholder='Category Name')
      input(type='text', name='genreName', placeholder='Genre Name')
      input(type='text', name='artistName', placeholder='Artist Name')
      input(type='submit', value='ajouter')